workflows/google_drive_manager.json
{
  "name": "google_drive_manager",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "operation"
            },
            {
              "name": "filename"
            },
            {
              "name": "media_id"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        32
      ],
      "id": "b5108c82-b2bb-49f0-811b-db33bca8b2e6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        720,
        -144
      ],
      "id": "8a64cd04-6d41-4554-9f63-4f17dd5c7091",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.operation }}\n{{ $json.filename }}\n{{ $json.query }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "systemMessage": "Recibirás una entrada del usuario indicando una operación a realizar, que puede ser download_file o search_file. Tu tarea es usar el nodo de búsqueda de Google Drive para satisfacer la petición. PROCESO DE BÚSQUEDA INTELIGENTE (REGLA OBLIGATORIA ANTES DE BUSCAR): Analiza la Petición: Identifica las palabras clave que describen el tema o título del documento en la consulta del usuario. Manejo de Búsquedas Generales (NUEVA REGLA): Si la consulta es una pregunta general para listar todos los archivos (ej: \"¿qué documentos tengo?\", \"muéstrame mis archivos\"), tu tarea es listar TODOS los documentos disponibles. No debes pedir más detalles. Prioriza el Tema: En búsquedas específicas, los nombres propios (ej: \"Arfken\") son probablemente autores. Dale mayor prioridad a las palabras del tema (ej: \"métodos matemáticos\"). Traduce si es Necesario: Si las palabras clave no están en inglés, tradúcelas para la búsqueda. Una vez realizado este análisis, procede con la operación: Si la operación es download_file: Busca el archivo que más se asemeje y devuelve únicamente su ID como texto plano. Si la operación es search_file: Lista los archivos que coincidan. Si la búsqueda fue general, lista todos los archivos. Tu salida debe ser un texto plano con los nombres de los elementos o un mensaje indicando que no encontraste nada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        160
      ],
      "id": "ca3526c9-8f32-4e27-ab05-d193113af427",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "CZDagPKG9ZXJRlJj",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        -144
      ],
      "id": "32bb6b0d-1759-43e4-9b63-110512073775",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9JCpS47ruwCV3wRT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.candidates[0].content.parts[0].text }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        64
      ],
      "id": "efcc8029-54bb-4d1c-84c2-783f452d56fe",
      "name": "descarga drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WzzMAtub6KLytXxk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.media_id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -32,
        -240
      ],
      "id": "25779cd0-d69f-40d4-86d0-0e22ed99ea77",
      "name": "URL documento",
      "webhookId": "a7916e6d-73b6-4b21-b19d-0a3d59a1746a",
      "credentials": {
        "whatsAppApi": {
          "id": "mfkKL7er3VCPk6Jr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -240
      ],
      "id": "e05c295f-7fa9-4554-8a70-f8090964b4ae",
      "name": "Descarga documento",
      "credentials": {
        "httpBearerAuth": {
          "id": "mVTkMnpJBNGtvF8M",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ow75MG694-SSU_973y5pFLkYNgScTDgQ",
            "mode": "list",
            "cachedResultName": "knowledge_base",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ow75MG694-SSU_973y5pFLkYNgScTDgQ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        96,
        400
      ],
      "id": "38809d3b-2503-4a88-9a59-dc0d30878495",
      "name": "Busqueda Drive AI",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WzzMAtub6KLytXxk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "=save_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c577f52-f5cc-4e3d-bac2-fcece7a56769"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f37f53-3be0-4650-a306-7f33f8cddab1",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "download_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "645160de-39e3-4a00-a713-fcb2686be838",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "search_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -368,
        16
      ],
      "id": "da78cabb-573f-49aa-9cb2-352125df7784",
      "name": "Operacion principal"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.operation }}",
                    "rightValue": "download_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e287df6a-8b3d-40b3-abdf-5e80d27270b0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f18417-3542-4567-be30-dc67a1e9c922",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.operation }}",
                    "rightValue": "search_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        352,
        160
      ],
      "id": "652028bf-d104-48ac-b803-e8c9d708b964",
      "name": "Descarga  / Busqueda"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ow75MG694-SSU_973y5pFLkYNgScTDgQ",
          "mode": "list",
          "cachedResultName": "knowledge_base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ow75MG694-SSU_973y5pFLkYNgScTDgQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -512
      ],
      "id": "48991ff9-adb7-45c1-a297-8d49be4c3d80",
      "name": "Carga a drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WzzMAtub6KLytXxk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        576,
        -320
      ],
      "id": "050d0dc4-a026-4d10-8f72-421922a4c8a2",
      "name": "Vectorizador",
      "credentials": {
        "supabaseApi": {
          "id": "2wS2ytAtw1vQXEAA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "752e9acc-8bde-4775-be7c-5922b712dd52",
              "name": "response",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        272
      ],
      "id": "8b4c7e76-e1c7-45aa-b8e4-eac0b06229c0",
      "name": "resultado busqueda"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "773652655831097",
        "recipientPhoneNumber": "573245649442",
        "messageType": "document",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        816,
        64
      ],
      "id": "6530cde1-ffd6-4bbd-86bd-f92de1646b67",
      "name": "envío del documento",
      "webhookId": "4537bc68-f5a1-4c9c-9a6e-c0ab10af9503",
      "credentials": {
        "whatsAppApi": {
          "id": "mfkKL7er3VCPk6Jr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98c09945-9553-4e08-a2e9-ab8f32cfa084",
              "name": "result",
              "value": "Ya se envió el archivo al user",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        64
      ],
      "id": "71812773-04d4-49cf-8b55-a9d66c183e5c",
      "name": "envío"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        -416
      ],
      "id": "5e964e59-988c-4efb-85b7-68de32943a7a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04b3d959-7ea2-4be0-99d1-0758c4965d5d",
              "name": "status",
              "value": "carga completada",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -416
      ],
      "id": "1eddef94-7d23-499d-885a-51db6bca620a",
      "name": "confirmation"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Operacion principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vectorizador",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Descarga  / Busqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vectorizador",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "descarga drive": {
      "main": [
        [
          {
            "node": "envío del documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL documento": {
      "main": [
        [
          {
            "node": "Descarga documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga documento": {
      "main": [
        [
          {
            "node": "Carga a drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vectorizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busqueda Drive AI": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Operacion principal": {
      "main": [
        [
          {
            "node": "URL documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga  / Busqueda": {
      "main": [
        [
          {
            "node": "descarga drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "resultado busqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carga a drive": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vectorizador": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "envío del documento": {
      "main": [
        [
          {
            "node": "envío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a01bba6f-20f8-49a4-8965-e0875852cd55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3267c33f32c8c5c33b8cad4d203eae3937e4f571a6f4c158f2c9b9d55118f1f1"
  },
  "id": "ubJfxaQof60QNSfn",
  "tags": []
}