workflows/prompter.json
{
  "name": "prompter",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "eca09efc-2204-4741-8af0-56144b904f4a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un agente especializado en transformar cualquier solicitud del usuario en uno de los siguientes tipos de salida, según lo que él pida:  Un prompt estructurado y completamente optimizado para otro modelo de IA.  Una descripción clara, completa y funcional de herramientas de un agente IA (capabilities, inputs, outputs, reglas de uso, restricciones).  Tu tarea es reinterpretar, clarificar y expandir la intención del usuario sin alterarla. Siempre debes devolver únicamente uno de estos dos tipos de entregables.  OBJETIVO PRINCIPAL: Convertir cualquier mensaje del usuario (incluso si es ambiguo o incompleto) en una instrucción formal, estructurada y totalmente utilizable por otro sistema de IA.  PROCESO INTERNO (no visible para el usuario):  Determina si el usuario quiere: a) Un prompt estructurado. b) Una definición de herramienta o conjunto de herramientas para un agente.  Analiza la intención central del usuario.  Extrae:  Objetivo principal  Tareas específicas  Restricciones  Formatos requeridos  Roles o comportamientos deseados  Entradas y salidas esperadas (en caso de herramientas)  Rellena huecos de manera razonable sin alterar el propósito.  Produce la salida final siguiendo uno de los formatos definidos abajo.  FORMATO PARA PROMPTS ESTRUCTURADOS: Debes siempre entregar el contenido en este formato exacto:  [BEGIN PROMPT] <rol del modelo> <objetivo principal> <instrucciones detalladas> <restricciones> <formato de salida> <tono/estilo si aplica> <contexto adicional si es necesario> [END PROMPT]  FORMATO PARA DESCRIPCIÓN DE HERRAMIENTAS: Debes siempre entregar la herramienta en este formato exacto:  [BEGIN TOOL] name: <nombre de la herramienta> description: <descripción general de lo que hace> inputs:  <campo>: <descripción>  <campo>: <descripción> outputs:  <campo>: <descripción> rules:  <regla 1>  <regla 2>  <las que apliquen>  usage_examples:  <ejemplo 1 de llamada o uso>  <ejemplo 2> [END TOOL]  REGLAS DE REDACCIÓN GENERALES:  Siempre reescribe todo desde cero.  La respuesta final debe ser completamente autónoma, sin referencia a la conversación.  Nunca incluyas análisis, pasos internos o explicaciones.  No uses JSON salvo que el usuario lo pida explícitamente.  No produzcas ambos formatos a la vez; elige solo el necesario.  Si el usuario da información insuficiente, crea el mejor resultado posible e incluye los supuestos mínimos en el apartado “contexto” del prompt o en la “description” de la herramienta.  No incluyas tu proceso de pensamiento, razonamiento ni estructura interna.  EJEMPLOS DE INTENCIONES Y TU DECISIÓN:  “Necesito un prompt para explicar agujeros negros.” → producir un prompt estructurado.  “Define una herramienta que consulte mi API de clima.” → producir formato de herramienta.  “Tengo un agente y quiero que agregue una herramienta para buscar PDFs.” → producir herramienta.  “Convierte este texto en un prompt.” → producir prompt estructurado."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "fb0dc2a4-9cff-407a-b58b-cd455bd538f6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "213c44bb-ae9a-4d44-ac0b-6af90706006b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CZDagPKG9ZXJRlJj",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Has un system prompt para un orquestador con estas herramientas “{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"updates\": [\n          \"messages\"\n        ],\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.whatsAppTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        0,\n        0\n      ],\n      \"id\": \"525c0fbc-d13f-4557-ad9e-c1513fbac8f0\",\n      \"name\": \"WhatsApp Trigger\",\n      \"webhookId\": \"51a4069e-0905-490d-83d4-d48a90ac5916\",\n      \"credentials\": {\n        \"whatsAppTriggerApi\": {\n          \"id\": \"iBDwDP91WgZLpdjx\",\n          \"name\": \"WhatsApp OAuth account\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\",\n            \"version\": 2\n          },\n          \"conditions\": [\n            {\n              \"id\": \"93eb6a37-642b-480e-80fe-62a85a4a7233\",\n              \"leftValue\": \"={{ $('WhatsApp Trigger').item.json.messages[0].from == \\\"573245649442\\\" }}\",\n              \"rightValue\": \"\\\"573245649442\\\"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.if\",\n      \"typeVersion\": 2.2,\n      \"position\": [\n        192,\n        0\n      ],\n      \"id\": \"f0836285-7240-42ae-9647-0557d2ac1515\",\n      \"name\": \"bot prove\"\n    },\n    {\n      \"parameters\": {\n        \"promptType\": \"define\",\n        \"text\": \"={{\\n  // Usamos un ternario para decidir qué devolver.\\n  // SI hay un documento...\\n  ($('WhatsApp Trigger').item.json.messages?.[0]?.document) \\n  \\n  // ENTONCES, devolvemos el objeto JSON con los datos del archivo.\\n  ? {\\n    \\\"inputType\\\": \\\"file\\\",\\n    \\\"filename\\\": $('WhatsApp Trigger').item.json.messages[0].document.filename,\\n    \\\"media_id\\\": $('WhatsApp Trigger').item.json.messages[0].document.id\\n  } \\n  \\n  // SI NO, devolvemos SOLO el string del texto.\\n  : $('WhatsApp Trigger').item.json.messages?.[0]?.text?.body || \\\"\\\"\\n}}\",\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.agent\",\n      \"typeVersion\": 3,\n      \"position\": [\n        432,\n        -16\n      ],\n      \"id\": \"197d72df-3a68-48c4-8fd6-85ab980bf5af\",\n      \"name\": \"AI Agent\"\n    },\n    {\n      \"parameters\": {\n        \"description\": \"[BEGIN TOOL]\\nname: google_drive_manager\\ndescription: Herramienta para gestionar archivos en Google Drive, permitiendo guardarlos, buscarlos por nombre o contenido, y descargarlos. Además, integra el contenido de los archivos guardados en una base de datos vectorial para facilitar búsquedas semánticas avanzadas.\\ninputs:\\n  operation: (string, obligatorio) La acción a realizar. Valores permitidos: 'save_file', 'search_file', 'download_file'.\\n  media_id: (string, condicional) Identificador único del archivo a guardar proveniente de una plataforma externa (ej. WhatsApp). Requerido si 'operation' es 'save_file'.\\n  filename: (string, condicional) El nombre con el que se guardará el archivo en Google Drive. Requerido si 'operation' es 'save_file'.\\n  query: (string, condicional) Consulta en lenguaje natural para buscar o identificar un archivo. Requerido si 'operation' es 'search_file' o 'download_file'.\\noutputs:\\n  result_message: (string) Un mensaje de texto que indica el resultado de la operación. Puede ser una confirmación de la carga, la lista de archivos encontrados, o un mensaje de confirmación del envío del archivo al usuario.\\nrules:\\n  1. Si 'operation' es 'save_file', 'media_id' y 'filename' deben ser proporcionados. El archivo se guardará en Google Drive y su contenido será procesado y almacenado en una base de datos vectorial para futuras búsquedas semánticas.\\n  2. Si 'operation' es 'search_file', 'query' debe ser proporcionado. La búsqueda se realizará por nombre de archivo o contenido. Si la 'query' es una pregunta general (ej. \\\"¿qué archivos tienes?\\\"), se listarán todos los nombres de archivos disponibles.\\n  3. Si 'operation' es 'download_file', 'query' debe ser proporcionado para identificar el archivo. Una vez encontrado, el archivo será descargado de Google Drive y enviado directamente al usuario a través de la plataforma de mensajería actual.\\nusage_examples:\\n  - google_drive_manager(operation='save_file', media_id='whatsapp_file_xyz123', filename='informe_mensual_ventas.pdf')\\n  - google_drive_manager(operation='search_file', query='documentos relacionados con el proyecto alfa')\\n  - google_drive_manager(operation='search_file', query='lista mis documentos')\\n  - google_drive_manager(operation='download_file', query='presentacion_estrategia_2024.pptx')\\n[END TOOL]\",\n        \"workflowId\": {\n          \"__rl\": true,\n          \"value\": \"ubJfxaQof60QNSfn\",\n          \"mode\": \"list\",\n          \"cachedResultUrl\": \"/workflow/ubJfxaQof60QNSfn\",\n          \"cachedResultName\": \"google_drive_manager\"\n        },\n        \"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"operation\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operation', ``, 'string') }}\",\n            \"filename\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filename', ``, 'string') }}\",\n            \"media_id\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('media_id', ``, 'string') }}\",\n            \"query\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}\"\n          },\n          \"matchingColumns\": [],\n          \"schema\": [\n            {\n              \"id\": \"operation\",\n              \"displayName\": \"operation\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            },\n            {\n              \"id\": \"filename\",\n              \"displayName\": \"filename\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            },\n            {\n              \"id\": \"media_id\",\n              \"displayName\": \"media_id\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            },\n            {\n              \"id\": \"query\",\n              \"displayName\": \"query\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            }\n          ],\n          \"attemptToConvertTypes\": false,\n          \"convertFieldsToString\": false\n        }\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.toolWorkflow\",\n      \"typeVersion\": 2.2,\n      \"position\": [\n        704,\n        288\n      ],\n      \"id\": \"5e0491ed-21c2-4192-80b4-e2517fb2e107\",\n      \"name\": \"Call 'google_drive_manager'\"\n    },\n    {\n      \"parameters\": {\n        \"description\": \"*VectorDatabaseQueryTool*\\n*Descripción:* Herramienta diseñada para consultar una base de datos vectorial con el fin de responder a preguntas o aclarar conceptos. Prioriza la recuperación de información semánticamente relevante desde la base de datos. Si la búsqueda no arroja resultados pertinentes, la herramienta indicará que no se encontró información, permitiendo al agente manejar el flujo de forma alternativa (informar al usuario o consultar otras fuentes).\\n\\n*Inputs:*\\n- query: La pregunta o el concepto que el usuario desea que la herramienta investigue en la base de datos vectorial. (string)\\n\\n*Outputs:*\\n- retrieved_content: El fragmento de texto o la información más relevante encontrada en la base de datos vectorial que responde a la consulta. Si no se encuentra nada, este campo estará vacío o contendrá un mensaje indicando la ausencia. (string)\\n- found_in_vector_db: Un valor booleano que indica si se encontró información pertinente en la base de datos vectorial (true) o si la búsqueda no arrojó resultados significativos (false). (boolean)\\n\\n*Reglas:*\\n- La herramienta debe realizar una búsqueda semántica utilizando la 'query' proporcionada como entrada principal.\\n- La prioridad absoluta es buscar y recuperar información dentro de la base de datos vectorial.\\n- Si no se localiza información relevante, la herramienta debe establecer 'found_in_vector_db' a 'false' y 'retrieved_content' debe reflejar la ausencia de resultados o estar vacío.\\n- Esta herramienta es exclusivamente para recuperación de información; no debe generar respuestas especulativas ni inferir más allá de los datos recuperados directamente de la base de datos.\\n- La decisión de informar al usuario o de consultar otra herramienta es responsabilidad del agente que invoca esta herramienta, basándose en el valor de 'found_in_vector_db'.\\n\\n*Ejemplos de Uso:*\\n- VectorDatabaseQueryTool(query=\\\"¿Cuáles son los pasos para reiniciar el router?\\\")\\n- VectorDatabaseQueryTool(query=\\\"Explícame la diferencia entre inteligencia artificial y machine learning.\\\")\",\n        \"workflowId\": {\n          \"__rl\": true,\n          \"value\": \"l5dueCQBG5AnW8nT\",\n          \"mode\": \"list\",\n          \"cachedResultUrl\": \"/workflow/l5dueCQBG5AnW8nT\",\n          \"cachedResultName\": \"vector database retriever\"\n        },\n        \"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"query\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}\"\n          },\n          \"matchingColumns\": [\n            \"query\"\n          ],\n          \"schema\": [\n            {\n              \"id\": \"query\",\n              \"displayName\": \"query\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            }\n          ],\n          \"attemptToConvertTypes\": false,\n          \"convertFieldsToString\": false\n        }\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.toolWorkflow\",\n      \"typeVersion\": 2.2,\n      \"position\": [\n        512,\n        288\n      ],\n      \"id\": \"fbe223f3-aa77-4ae9-9cba-8e2d9e51dc76\",\n      \"name\": \"Call 'vector database retriever'\"\n    },\n    {\n      \"parameters\": {\n        \"description\": \"[BEGIN TOOL]\\\\nname: AIContentGenerator\\\\ndescription: Esta herramienta está diseñada para transformar cualquier solicitud del usuario en uno de dos formatos estructurados y optimizados para sistemas de IA: un prompt estructurado y completo para un Large Language Model (LLM), o una descripción detallada y funcional de una herramienta (capability) para un agente de IA. Su objetivo principal es reinterpretar, clarificar y expandir la intención del usuario para producir una instrucción formal y totalmente utilizable por otro sistema de IA, llenando huecos de manera razonable si la información inicial es ambigua o incompleta.\\\\ninputs:\\\\n  user_request: La solicitud del usuario en lenguaje natural, indicando su necesidad de generar ya sea un prompt para un LLM o una descripción de herramienta para un agente de IA.\\\\noutputs:\\\\n  ai_structured_output: Una cadena de texto que contiene el prompt optimizado para LLM (en formato `[BEGIN PROMPT]...[END PROMPT]`) o la descripción de la herramienta para agente IA (en formato `[BEGIN TOOL]...[END TOOL]`), basado en la solicitud del usuario.\\\\nrules:\\\\n  1.  **Determinación de Intención**: Analizar la `user_request` para determinar si el usuario solicita un prompt estructurado o una descripción de herramienta.\\\\n  2.  **Clarificación y Expansión**: Reinterpretar, clarificar y expandir la intención central del usuario sin alterar su propósito fundamental.\\\\n  3.  **Generación de Prompt (si aplica)**:\\\\n      *   Extraer el objetivo principal, tareas específicas, restricciones, formatos requeridos, roles o comportamientos deseados y contexto adicional de la `user_request`.\\\\n      *   Construir el prompt estructurado usando el formato exacto: `[BEGIN PROMPT] <rol del modelo> <objetivo principal> <instrucciones detalladas> <restricciones> <formato de salida> <tono/estilo si aplica> <contexto adicional si es necesario> [END PROMPT]`.\\\\n      *   Rellenar cualquier información faltante de manera razonable, incluyendo los supuestos mínimos en la sección `<contexto adicional>`.\\\\n  4.  **Generación de Descripción de Herramienta (si aplica)**:\\\\n      *   Extraer el nombre, descripción general, inputs (campos y descripciones), outputs (campos y descripciones), reglas de uso y ejemplos de uso de la herramienta solicitada.\\\\n      *   Construir la descripción de la herramienta usando el formato exacto: `[BEGIN TOOL] name: <nombre de la herramienta> description: <descripción general de lo que hace> inputs: <campo>: <descripción> outputs: <campo>: <descripción> rules: <regla 1> usage_examples: <ejemplo 1 de llamada o uso> [END TOOL]`.\\\\n      *   Rellenar cualquier información faltante de manera razonable, incluyendo los supuestos mínimos en la `description` de la herramienta.\\\\n  5.  **Exclusividad de Salida**: Siempre se debe devolver únicamente uno de los dos tipos de entregables (prompt o descripción de herramienta); nunca ambos.\\\\n  6.  **Autonomía de la Salida**: La respuesta final debe ser completamente autónoma, autoexplicativa y no debe hacer referencia a la conversación original o a los procesos internos de esta herramienta.\\\\n  7.  **Ausencia de Metacomentarios**: No se deben incluir análisis, pasos internos, razonamientos o explicaciones sobre el proceso de generación en la salida final.\\\\n  8.  **Formato No-JSON**: La salida generada no debe ser en formato JSON, a menos que la `user_request` lo pida explícitamente para el contenido del prompt o herramienta generada.\\\\nusage_examples:\\\\n  - AIContentGenerator(user_request=\\\\\\\"Necesito un prompt para analizar el sentimiento de reseñas de productos de electrónica en español, clasificando como positivo, negativo o neutro y explicando brevemente el porqué. El resultado debe ser en formato JSON.\\\\\\\")\\\\n  - AIContentGenerator(user_request=\\\\\\\"Quiero una herramienta para mi agente que permita buscar artículos científicos en una base de datos externa. Necesitaría un input para el término de búsqueda y que devuelva una lista de títulos y resúmenes.\\\\\\\")\\\\n[END TOOL]\",\n        \"workflowId\": {\n          \"__rl\": true,\n          \"value\": \"yM0MnaC26LTQxFUf\",\n          \"mode\": \"list\",\n          \"cachedResultUrl\": \"/workflow/yM0MnaC26LTQxFUf\",\n          \"cachedResultName\": \"prompter\"\n        },\n        \"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"query\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `user_request`, 'string') }}\"\n          },\n          \"matchingColumns\": [\n            \"query\"\n          ],\n          \"schema\": [\n            {\n              \"id\": \"query\",\n              \"displayName\": \"query\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true,\n              \"type\": \"string\",\n              \"removed\": false\n            }\n          ],\n          \"attemptToConvertTypes\": false,\n          \"convertFieldsToString\": false\n        }\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.toolWorkflow\",\n      \"typeVersion\": 2.2,\n      \"position\": [\n        880,\n        304\n      ],\n      \"id\": \"a4f56a78-b18e-4d5c-bd87-2ceee8c164d8\",\n      \"name\": \"Call 'prompter'\"\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"send\",\n        \"phoneNumberId\": \"773652655831097\",\n        \"recipientPhoneNumber\": \"573245649442\",\n        \"textBody\": \"={{ $json.output }}\",\n        \"additionalFields\": {}\n      },\n      \"type\": \"n8n-nodes-base.whatsApp\",\n      \"typeVersion\": 1.1,\n      \"position\": [\n        784,\n        -16\n      ],\n      \"id\": \"913b41c5-cf87-44e2-b730-d08f2191218f\",\n      \"name\": \"Send message\",\n      \"webhookId\": \"9479c83e-53ee-4c51-bf14-43b25d2df2a4\",\n      \"credentials\": {\n        \"whatsAppApi\": {\n          \"id\": \"mfkKL7er3VCPk6Jr\",\n          \"name\": \"WhatsApp account\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"model\": {\n          \"__rl\": true,\n          \"value\": \"gpt-3.5-turbo\",\n          \"mode\": \"list\",\n          \"cachedResultName\": \"gpt-3.5-turbo\"\n        },\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        272,\n        304\n      ],\n      \"id\": \"701b874a-5c66-404a-b73a-0629d3d413ec\",\n      \"name\": \"OpenAI Chat Model\",\n      \"credentials\": {\n        \"openAiApi\": {\n          \"id\": \"9JCpS47ruwCV3wRT\",\n          \"name\": \"OpenAi account\"\n        }\n      }\n    }\n  ],\n  \"connections\": {\n    \"WhatsApp Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"bot prove\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"bot prove\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"AI Agent\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"AI Agent\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Send message\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Call 'google_drive_manager'\": {\n      \"ai_tool\": [\n        [\n          {\n            \"node\": \"AI Agent\",\n            \"type\": \"ai_tool\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Call 'vector database retriever'\": {\n      \"ai_tool\": [\n        [\n          {\n            \"node\": \"AI Agent\",\n            \"type\": \"ai_tool\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Call 'prompter'\": {\n      \"ai_tool\": [\n        [\n          {\n            \"node\": \"AI Agent\",\n            \"type\": \"ai_tool\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"OpenAI Chat Model\": {\n      \"ai_languageModel\": [\n        [\n          {\n            \"node\": \"AI Agent\",\n            \"type\": \"ai_languageModel\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"3267c33f32c8c5c33b8cad4d203eae3937e4f571a6f4c158f2c9b9d55118f1f1\"\n  }\n}”"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d73e0b0e-c6b5-46eb-ab32-92c55520b0b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3267c33f32c8c5c33b8cad4d203eae3937e4f571a6f4c158f2c9b9d55118f1f1"
  },
  "id": "yM0MnaC26LTQxFUf",
  "tags": []
}